# ASCII-Font › http://patorjk.com/software/taag/#p=display&f=Slant&t=Phlow
#
#      _____ _ __          _____      __  __  _
#     / ___/(_) /____     / ___/___  / /_/ /_(_)___  ____ ______
#     \__ \/ / __/ _ \    \__ \/ _ \/ __/ __/ / __ \/ __ `/ ___/
#    ___/ / / /_/  __/   ___/ /  __/ /_/ /_/ / / / / /_/ (__  )
#   /____/_/\__/\___/   /____/\___/\__/\__/_/_/ /_/\__, /____/
#                                                 /____/
#
# Title of your website
title: 'The Website of Karl Wilcox'

# The slogan describes your website and is used on homepage in <title> and other important places
slogan: "A Collection of Karl's Stuff"

# The description is used on homepage and in the footer to quickly describe your website. Use a maximum of 150 characters for SEO-purposes.
description: 'A website about some things that interest me, and might interest you too. For details of the site construction please click here'

# The credits show up in the includes/_footer.html – It would be nice of you to leave a link to Phlow or Feeling Responsive as a thank you :)
credits: '<p>Created with <a href="http://jekyllrb.com/" target="_blank">Jekyll</a> using the <a href="https://phlow.github.io/feeling-responsive/">Feeling Responsive</a> theme by <a href="https://phlow.de/">Phlow</a>.</p>'

# Main author of the website
# See > authors.yml
author: karlw

# whats_new_url: "/artwork/canva-ai/"
whats_new_url: 
  - "/chase-group/help-wanted/"
  - "/artwork/canva-ai/"
  - "/chase-group/vhr3000/"
  - "/about-me/other-things/"
  - "/cs-teaching/"

# This URL is the main address for absolute links. Don't include a slash at the end.
#
url: ''
baseurl: ''

# These are variables to control rotating through the various general purpose header images
gp_header_count: 1
gp_header_max: 15

# This URL points directly to the images directory making
# things easier to link to images in posts and templates. It needs a slash at the end.
#
# Example: <img src="{{ site.urlimg }}{{ post.image.title }}" />
# Markdown-Example for posts ![Image Text]({{ site.urlimg }}image.jpg)
#
urlimg: '/img/'

# destination: /var/www/karlwilcox
# destination: /home/karlw/sites/karlwilcox
destination: /Users/karlw/Sites

incremental: false

# Logo size is 600x80 pixels
logo: "logo.png"

# Plugins
plugins:
    - jekyll-asciidoc
    - jekyll-gist
    - jekyll-paginate-v2
#    - octopress-paginate
    - jekyll-auto-authors
    - jekyll_begin_end


# Always show future posts (short reviews are retrospective)
future: true

#       ____              _             __  _
#      / __ \____ _____ _(_)___  ____ _/ /_(_)___  ____
#     / /_/ / __ `/ __ `/ / __ \/ __ `/ __/ / __ \/ __ \
#    / ____/ /_/ / /_/ / / / / / /_/ / /_/ / /_/ / / / /
#   /_/    \__,_/\__, /_/_/ /_/\__,_/\__/_/\____/_/ /_/
#               /____/
#
############################################################
# Site configuration for the Jekyll 3 Pagination Gem
# The values here represent the defaults if nothing is set



############################################################


# Theme works best with Kramdown (using the table of contents function)
markdown           : kramdown
permalink          : /:categories/:title/
highlight          : rouge
excerpt_separator  : "<!--more-->"
include            : ['.htaccess']
# Exclude these files from your production _site
exclude:
    - .sass-cache
    - Gemfile
    - Gemfile.lock
    - LICENSE
    - README.md
    - INSTALL.md
    - vendor
    - makefile
    - jekyll-theme-feeling-responsive.gemspec
    - source.code-workspace


# The language setting is used in /includes/header.html for html-settings
language: 'en'


# Used › default.html front-matter and compress.html
# Options › http://jch.penibelst.de
compress_html:
  clippings: all
  comments: ["<!-- ", " -->"]
  endings: all
  profile: false
  ignore:
    envs: [development]


#
#       ____       ____            ____
#      / __ \___  / __/___ ___  __/ / /_
#     / / / / _ \/ /_/ __ `/ / / / / __/
#    / /_/ /  __/ __/ /_/ / /_/ / / /_
#   /_____/\___/_/  \__,_/\__,_/_/\__/
#
# Default Settings

defaults:
  -
    scope:
      path: '' 				# an empty string here means all files in the project
      type: 'pages'
    values:
      show_meta: false 	# Hide metadata for all pages
      comments: false
      author: karlw     # Default author for pages
  -
    scope:
      path: ''
      type: 'posts'
    values:
      show_meta: true   # Show metadata for all posts
      comments: true
      author: karlw     # Default author for posts
  -
    scope:
      path: ''
      type: 'tags' # select all tags pages
    values:
      layout: tag_page
      permalink: tags/:tag/
      comments: false
  -
    scope:
      path: 'pages/chase-group'
      type: 'pages'
    values:
      comments: true
  -
    scope:
      path: blog
      type: 'blog'
    values:
      comments: true
  -
    scope:
      path: 'reviews'
      type: 'pages'
    values:
      sidebar: "reviews"
  -
    scope:
      path: 'reviews'
      type: 'posts'
    values:
      sidebar: "reviews"
      header:
        image_fullwidth  : "headers/buccolic-fields.jpg"


#       _   __            _             __  _
#      / | / /___ __   __(_)___ _____ _/ /_(_)___  ____
#     /  |/ / __ `/ | / / / __ `/ __ `/ __/ / __ \/ __ \
#    / /|  / /_/ /| |/ / / /_/ / /_/ / /_/ / /_/ / / / /
#   /_/ |_/\__,_/ |___/_/\__, /\__,_/\__/_/\____/_/ /_/
#                       /____/
#
#  Open _data/navigation.yml to adjust the left and right topbar navigation
#



#     _____ __________
#    / ___// ____/ __ \
#    \__ \/ __/ / / / /
#   ___/ / /___/ /_/ /
#  /____/_____/\____/    Verify Website to Webmaster Tools

# google_site_verification        : 'Vk0IOJ2jwG_qEoG7fuEXYqv0m2rLa8P778Fi_GrsgEQ'
# bing_webmastertools_id          : '0FB4C028ABCF07C908C54386ABD2D97F'
# yandex_site_verification      : ''
# alexa_verify_id               : ''



#       ______            _
#      / ____/___ __   __(_)________  ____  _____
#     / /_  / __ `/ | / / / ___/ __ \/ __ \/ ___/
#    / __/ / /_/ /| |/ / / /__/ /_/ / / / (__  )
#   /_/    \__,_/ |___/_/\___/\____/_/ /_/____/   Favicon-Crap: Favicons, Chrome, Android & Apple Touch Buttons
#                                                 More information » https://mathiasbynens.be/notes/touch-icons

favicon-32x32                        : 'favicon-32x32.png'
favicon-16x16                        : 'favicon-16x16.png'
touch-icon-192x192                   : 'touch-icon-192x192.png'
#apple-touch-icon-180x180-precomposed : 'apple-touch-icon-180x180-precomposed.png'
#apple-touch-icon-152x152-precomposed : 'apple-touch-icon-152x152-precomposed.png'
#apple-touch-icon-144x144-precomposed : 'apple-touch-icon-144x144-precomposed.png'
#apple-touch-icon-120x120-precomposed : 'apple-touch-icon-120x120-precomposed.png'
#apple-touch-icon-114x114-precomposed : 'apple-touch-icon-114x114-precomposed.png'
#apple-touch-icon-76x76-precomposed   : 'apple-touch-icon-76x76-precomposed.png'
#apple-touch-icon-72x72-precomposed   : 'apple-touch-icon-72x72-precomposed.png'
apple-touch-icon-precomposed         : 'apple-touch-icon.png'
msapplication_tileimage              : 'msapplication_tileimage.png'               # Size 144x144
msapplication_tilecolor              : '#fabb00'


#       ______                __                __
#      / ____/___ _________  / /_  ____  ____  / /__
#     / /_  / __ `/ ___/ _ \/ __ \/ __ \/ __ \/ //_/
#    / __/ / /_/ / /__/  __/ /_/ / /_/ / /_/ / ,<
#   /_/    \__,_/\___/\___/_.___/\____/\____/_/|_|      Facebook-Optimization › http://j.mp/fb_optimize

#og_image                             : 'http://images.phlow.de/phlow/phlow_de-logo-512x.png'
#og_locale                            : 'en_EN'
#og_type                              : 'website'


#      _____            _       __   __  ___         ___
#     / ___/____  _____(_)___ _/ /  /  |/  /__  ____/ (_)___ _
#     \__ \/ __ \/ ___/ / __ `/ /  / /|_/ / _ \/ __  / / __ `/
#    ___/ / /_/ / /__/ / /_/ / /  / /  / /  __/ /_/ / / /_/ /
#   /____/\____/\___/_/\__,_/_/  /_/  /_/\___/\__,_/_/\__,_/
#
#  Open _data/socialmedia.yml to adjust the left and right topbar navigation
#

#socialmedia:
#    twitter   : phlow
#    facebook  : phlow.media


#        ____  _
#       / __ \(_)________ ___  _______
#      / / / / / ___/ __ `/ / / / ___/
#     / /_/ / (__  ) /_/ / /_/ (__  )
#    /_____/_/____/\__, /\__,_/____/
#                    /_/
#
# used in _includes/comments

# disqus_shortname: 


#      _____
#     / ___/____ ___________
#     \__ \/ __ `/ ___/ ___/
#    ___/ / /_/ (__  |__  )     More › http://sass-lang.com/
#   /____/\__,_/____/____/      More › http://jekyllrb.com/docs/assets/#sassscss
#

sass:
    sass_dir : _sass
    style    : :compressed


#       ___                __      __  _
#      /   |  ____  ____ _/ /_  __/ /_(_)_________
#     / /| | / __ \/ __ `/ / / / / __/ / ___/ ___/
#    / ___ |/ / / / /_/ / / /_/ / /_/ / /__(__  )
#   /_/  |_/_/ /_/\__,_/_/\__, /\__/_/\___/____/      https://www.google.com/analytics/
#                        /____/
#
# used in _includes/footer_scripts

# google_analytics_tracking_id:



#   _                 _     _
#  | |_ __ ___      _| | __| |_ ___
#  | __/ _` \ \ /\ / / |/ /| __/ _ \
#  | || (_| |\ V  V /|   < | || (_) |
#   \__\__,_| \_/\_/ |_|\_(_)__\___/     More › https://www.tawk.to/knowledgebase/
#
#  tawk.to is a free live chat app that lets you monitor and chat
#  with visitors on your website or from a free customizable page
#
#  To load the script add tawkto: true in front matter of each page
#
# used in _includes/footer_scripts

# tawkto_embed_uri:


#     ___              _     __           __
#    /   |  __________(_)___/ /___  _____/ /_____  _____
#   / /| | / ___/ ___/ / __  / __ \/ ___/ __/ __ \/ ___/
#  / ___ |(__  ) /__/ / /_/ / /_/ / /__/ /_/ /_/ / /
# /_/  |_/____/\___/_/\__,_/\____/\___/\__/\____/_/
#
#  Asciidoctor is a fast text processor and publishing toolchain for converting
#  AsciiDoc content to HTML5, DocBook 5 (or 4.5) and other formats.
#
#  https://github.com/asciidoctor/jekyll-asciidoc
#  https://github.com/asciidoctor
#
#

asciidoctor-enabled: false
asciidoctor:
  description: 
  attributes:
    source-highlighter: coderay
    coderay-css: style
    icons: font

collections:
  authors:
    output: true
    permalink: authors/:title/
  drafts:
    output: false
    permalink: drafts/:title/

autopages:
  enabled: true
  categories:
    enabled: false
  tags:
    enabled: false
  collections:
    enabled: false
  # Add this block
  authors:
    enabled: true
    data: '_data/authors.json' # Data file with the author details
    # Uncomment the line below to force exclude certain authors from autopage generation.
    exclude: [ "karlw" ]
    layouts:
      - 'author-page.html' # We'll define this layout later
    title: ''
    permalink: '/reviews/books/author/:author/'
    slugify:
      mode: 'default' # choose from [raw, default, pretty, ascii or latin]
      cased: true # if true, the uppercase letters in slug will be converted to lowercase ones.

