    <div class="small-12 columns t20">
          {%- if page.paginate.category == "blog" -%}
              {%- capture src_url -%}/blog/thumbs/generic.jpg{%- endcapture -%}
              {%- capture thumb_path -%}/blog/thumbs/{{ include.item.thumb }}{%- endcapture -%}
              {%- assign link_text = site.data.text.link_to_post -%}
          {%- else -%}
              {%- capture src_url -%}/reviews/img/generic-thumb.jpg{%- endcapture -%}
              {%- capture thumb_path -%}/reviews/img/{{ include.item.categories[1] }}/thumbs/{{ include.item.slug }}.jpg{%- endcapture -%}
              {%- assign link_text = site.data.text.link_to_review -%}
          {%- endif -%}
          {%- for img_file in site.static_files -%}
          {%- if img_file.path == thumb_path -%}
          {%- assign src_url = thumb_path -%}
          {%- continue -%}
          {%- endif -%}
          {%- endfor -%}
      <h2><a href="{{ site.url }}{{ site.baseurl }}{{ include.item.url }}">{{ include.item.prefix }} {{ include.item.title }}</a></h2>
        {%- if include.item.subtitle -%}
      <p class="b30">
         - {{ include.item.subtitle }}
      </p>
        {%- endif -%}


      <p class="b15">
        <a href="{{ site.url }}{{ site.baseurl }}{{ include.item.url }}" title="{{ include.item.title | escape_once }}"><img src="{{ src_url }}" class="alignleft" width="200" height="200" alt="{{ page.title | escape_once }}"></a>
        {%- unless include.item.author == "karlw" -%}
         - <a href="/reviews/books/author/{{ include.item.author }}/">{{ site.data.authors[include.item.author].forename }} {{ site.data.authors[include.item.author].surname }}</a>
           {%- if include.item.author2 != "" and include.item.author2 != Nil -%}
         &nbsp;{{ site.data.text.conjunction }}&nbsp; <a href="/reviews/books/author/{{ include.item.author2 }}/">{{ site.data.authors[include.item.author2].forename }} {{ site.data.authors[include.item.author2].surname }}</a>
         {%- endif -%}
        {%- endunless -%}
      </p>
      {%- if include.item.teaser != "" and include.item.teaser != nil -%}
      <p class="b15">
        {{ include.item.teaser | strip_html | escape }}
      </p>
      {%- endif -%}
      {%- if include.item.season != "" and include.item.season != nil -%}
      <p class="b15">
        {{ site.data.text.season }} {{ include.item.season | strip_html | escape }}
      </p>
      {%- endif -%}
      {%- if include.item.series != "" and include.item.series != nil -%}
      <p class="b15">
        {{ site.data.text.series_start }} {{ include.item.series | strip_html | escape }} {{ site.data.text.series_end }} 
      </p>
        {%- if include.item.booknum != "" and include.item.booknum != nil -%}
        <p class="b15">
          {{ site.data.text.booknum }} {{ include.item.booknum | strip_html | escape }}
        </p>
        {%- endif -%}
      {%- endif -%}
      {%- if include.item.network != "" and include.item.network != nil -%}
      <p class="b15">
        {{ site.data.text.network }} {{ include.item.network | strip_html | escape }}
      </p>
      {%- endif -%}
      {%- if include.item.platform != "" and include.item.platform != nil -%}
      <p class="b15">
        {{ site.data.text.platform }} {{ include.item.platform | strip_html | escape }}
      </p>
      {%- endif -%}
      {% include _tags_to_buttons.html tags=include.item.tags separator="&MediumSpace;" pclass="b15" %}
      <p class="b15">
        <a href="{{ site.url }}{{ site.baseurl }}{{ include.item.url }}" title="{{ site.data.text.read }} {{ include.item.title | escape_once }}"><strong>{{ link_text }}</strong></a>
      </p>
    </div><!-- /.small-12.columns -->