			<div id="page-meta" class="t30">
				<p>
				{%- if page.date -%}
				<time class="icon-calendar pr20" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished"> {{ page.date | date: "%Y-%m-%d" }}</time>
				{%- endif -%}

				{%- if page.categories != empty -%}<span class="icon-archive pr20"><a class="category-link" href="/{{ page.categories | join: '/' }}/">{{ page.categories | join: ' · ' | upcase }}</a>{%- endif -%}</span>
				<br />
				<span class="pr20">{% for tag in page.tags %}<span class="icon-price-tag pr10"><a class="tag-link" href="/tags/{{ tag }}/"> {{tag}}</a></span> {% endfor %}</span>
				</p>
			</div><!--  /.page-meta -->
