{%- comment -%}
*  This loops through the paginated posts
*
*  Total posts: {{ paginator.total_posts }}
*  Total paginate-pages: {{ paginator.total_pages }}
*
{%- endcomment -%}


{%- for post in paginator.posts -%}
  <div class="row">
    {%- include _item-details.html item=post -%}
  </div><!-- /.row -->
{%- endfor -%}


<nav id="pagination">
    {%- unless page.paginate.category == "reviews" or page.paginate.category == "blog" -%}
      {%- if page.paginate.parent -%}
        {%- capture prefix -%}reviews/{{ page.paginate.parent }}/{%- endcapture -%}
      {%- else -%}
        {%- assign prefix = "reviews/" -%}
      {%- endif -%}
    {%- assign cat_url = page.paginate.category | prepend: prefix -%}
    {%- else -%}
    {%- assign cat_url = page.paginate.category -%}
    {%- endunless -%}
    {%- if paginator.previous_page -%}
      {%- if paginator.previous_page == 1 -%}
      <a rel="prev" class="radius button small" href="{{ site.url }}{{ site.baseurl }}/{{ cat_url }}/" title="{{ site.data.text.previous_posts }}">&laquo; {{ site.data.text.previous_posts }}</a>
      {%- else -%}
      <a rel="prev" class="radius button small" href="{{ site.url }}{{ site.baseurl }}/{{ cat_url }}/page{{ paginator.previous_page }}/" title="{{ site.data.text.previous_posts }}">&laquo; {{ site.data.text.previous_posts }}</a>
      {%- endif -%}
    {%- endif -%}

    <a class="radius button small" href="{{ site.url }}{{ site.baseurl }}/{{ cat_url }}/" title="{{ site.data.text.blog_archive }}">{{ site.data.text.link_to_cat_index }}</a>

    {%- if paginator.next_page -%}
    <a rel="next" class="radius button small" href="{{ site.url }}{{ site.baseurl }}/{{ cat_url }}/page{{ paginator.next_page }}/" title="{{ site.data.text.next_posts }}">{{ site.data.text.next_posts }} &raquo;</a>
    {%- endif -%}
  </nav>

