<aside>
	<div class="panel radius">
		<h3>Pages In This Section</h3>
		<ul>
            {% for entry in site.data.sidebar[page.sidebar].menu %}
			<li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
			  {% if entry.submenu != NULL %}
			  <ul>
				{% for subentry in entry.submenu %}
				<li><a href="{{ subentry.url }}">{{ subentry.title }}</a></li>
				{% endfor %}
			  </ul>
			  {% endif %}
			{% endfor %}
		</ul>
	</div>

	{% if site.data.sidebar[page.sidebar].image != NULL %}
	<img class="b30" src="{{ site.data.sidebar[page.sidebar].image }}" alt="Sidebar Image">
	{% else %}
	<img class="b30" src="/img/decor/Authority-Figure-1-212x300.png" alt="Karl looking stern">
	{% endif %}


	<div class="border-dotted radius b30">
		<p>If you enjoyed this site please click on the coffee cup icon below!</p>
		<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="drawshield" data-description="Support me on Buy me a coffee!" data-message="{{ site.data.language.funding_plea }}" data-color="#40DCA5" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
	</div>
</aside>