{%- assign height = 300 -%}
{%- capture current_year -%}{{ site.time | date: "%Y" }}{%- endcapture -%}
{%- capture short_year -%}{{ site.time | date: "%y" }}{%- endcapture -%}
{%- comment -%}
* We use inspect to turn the number back into a string for comparison
{%- endcomment -%}
{%- assign last_year = current_year | minus: 1 | inspect -%}
{%- comment -%}
* Set all counters to zero (we count columns separately since arrays are hard)
{%- endcomment -%}
{%- assign year_count = 0 -%}
{%- assign last_year_count = 0 -%}
{%- assign col1_count = 0 -%}
{%- assign col2_count = 0 -%}
{%- assign col3_count = 0 -%}
{%- assign col4_count = 0 -%}
{%- assign col5_count = 0 -%}
{%- assign col6_count = 0 -%}
{%- assign col7_count = 0 -%}
{%- assign col8_count = 0 -%}
{%- assign col9_count = 0 -%}
{%- assign col10_count = 0 -%}
{%- assign col11_count = 0 -%}
{%- assign col12_count = 0 -%}
{%- assign count_2022 = 0 -%}
{%- assign count_2023 = 0 -%}
{%- assign count_2024 = 0 -%}
{%- assign count_2025 = 0 -%}
{%- assign count_2026 = 0 -%}
{%- comment -%}
* Work out our column labels (also used for recognition / counting)
{%- endcomment -%}
{%- capture last_month -%}{{ site.time | date: "%m" | minus: 1 | inspect }}{%- endcapture -%}
{%- if last_month == "0" -%}
{%	assign last_month = "12" -%}
{%	assign short_year = short_year | minus: 1 | inspect -%}
{%- endif -%}
{%- capture col1 -%}{{ last_month }}/{{ short_year }}{%- endcapture -%}
{%- assign last_month = last_month | minus: 1 | inspect -%}
{%- if last_month == "0" -%}
{%	assign last_month = "12" -%}
{%	assign short_year = short_year | minus: 1 | inspect -%}
{%- endif -%}
{%- capture col2 -%}{{ last_month }}/{{ short_year }}{%- endcapture -%}
{%- assign last_month = last_month | minus: 1 | inspect -%}
{%- if last_month == "0" -%}
{%	assign last_month = "12" -%}
{%	assign short_year = short_year | minus: 1 | inspect -%}
{%- endif -%}
{%- capture col3 -%}{{ last_month }}/{{ short_year }}{%- endcapture -%}
{%- assign last_month = last_month | minus: 1 | inspect -%}
{%- if last_month == "0" -%}
{%	assign last_month = "12" -%}
{%	assign short_year = short_year | minus: 1 | inspect -%}
{%- endif -%}
{%- capture col4 -%}{{ last_month }}/{{ short_year }}{%- endcapture -%}
{%- assign last_month = last_month | minus: 1 | inspect -%}
{%- if last_month == "0" -%}
{%	assign last_month = "12" -%}
{%	assign short_year = short_year | minus: 1 | inspect -%}
{%- endif -%}
{%- capture col5 -%}{{ last_month }}/{{ short_year }}{%- endcapture -%}
{%- assign last_month = last_month | minus: 1 | inspect -%}
{%- if last_month == "0" -%}
{%	assign last_month = "12" -%}
{%	assign short_year = short_year | minus: 1 | inspect -%}
{%- endif -%}
{%- capture col6 -%}{{ last_month }}/{{ short_year }}{%- endcapture -%}
{%- assign last_month = last_month | minus: 1 | inspect -%}
{%- if last_month == "0" -%}
{%	assign last_month = "12" -%}
{%	assign short_year = short_year | minus: 1 | inspect -%}
{%- endif -%}
{%- capture col7 -%}{{ last_month }}/{{ short_year }}{%- endcapture -%}
{%- assign last_month = last_month | minus: 1 | inspect -%}
{%- if last_month == "0" -%}
{%	assign last_month = "12" -%}
{%	assign short_year = short_year | minus: 1 | inspect -%}
{%- endif -%}
{%- capture col8 -%}{{ last_month }}/{{ short_year }}{%- endcapture -%}
{%- assign last_month = last_month | minus: 1 | inspect -%}
{%- if last_month == "0" -%}
{%	assign last_month = "12" -%}
{%	assign short_year = short_year | minus: 1 | inspect -%}
{%- endif -%}
{%- capture col9 -%}{{ last_month }}/{{ short_year }}{%- endcapture -%}
{%- assign last_month = last_month | minus: 1 | inspect -%}
{%- if last_month == "0" -%}
{%	assign last_month = "12" -%}
{%	assign short_year = short_year | minus: 1 | inspect -%}
{%- endif -%}
{%- capture col10 -%}{{ last_month }}/{{ short_year }}{%- endcapture -%}
{%- assign last_month = last_month | minus: 1 | inspect -%}
{%- if last_month == "0" -%}
{%	assign last_month = "12" -%}
{%	assign short_year = short_year | minus: 1 | inspect -%}
{%- endif -%}
{%- capture col11 -%}{{ last_month }}/{{ short_year }}{%- endcapture -%}
{%- assign last_month = last_month | minus: 1 | inspect -%}
{%- if last_month == "0" -%}
{%	assign last_month = "12" -%}
{%	assign short_year = short_year | minus: 1 | inspect -%}
{%- endif -%}
{%- capture col12 -%}{{ last_month }}/{{ short_year }}{%- endcapture -%}
{%- comment -%}
* Now loop, updating counters as we go
{%- endcomment -%}
{%- for book_review in site.categories.books -%}
{%- 	assign review_year = book_review.date | date: "%Y" -%}
{%- 	if current_year == review_year -%}
{%- 		assign year_count = year_count | plus: 1 -%}
{%- 	elsif last_year == review_year -%}
{%- 		assign last_year_count = last_year_count | plus: 1 -%}
{%- 	endif -%}
{%-    if review_year == "2022" -%}
{%-       assign count_2022 = count_2022 | plus: 1 -%}
{%-    elsif review_year == "2023" -%}
{%-       assign count_2023 = count_2023 | plus: 1 -%}
{%-    elsif review_year == "2024" -%}
{%-       assign count_2024 = count_2024 | plus: 1 -%}
{%-    elsif review_year == "2025" -%}
{%-       assign count_2025 = count_2025 | plus: 1 -%}
{%-    elsif review_year == "2026" -%}
{%-       assign count_2026 = count_2026 | plus: 1 -%}
{%-    endif -%}
{%	assign review_month = book_review.date | date: "%m" -%} 
{%- unless review_month == "10" -%}
{%- assign review_month = review_month | remove_first: "0" -%}
{%- endunless -%}
{%	capture year_month -%}{{ review_month }}/{{ book_review.date | date: "%y" }}{%- endcapture -%}
{%	if year_month == col1 -%}
{%		assign col1_count = col1_count | plus: 50 -%}
{%	elsif year_month == col2 -%}
{%		assign col2_count = col2_count | plus: 50 -%}
{%	elsif year_month == col3 -%}
{%		assign col3_count = col3_count | plus: 50 -%}
{%	elsif year_month == col4 -%}
{%		assign col4_count = col4_count | plus: 50 -%}
{%	elsif year_month == col5 -%}
{%		assign col5_count = col5_count | plus: 50 -%}
{%	elsif year_month == col6 -%}
{%		assign col6_count = col6_count | plus: 50 -%}
{%	elsif year_month == col7 -%}
{%		assign col7_count = col7_count | plus: 50 -%}
{%	elsif year_month == col8 -%}
{%		assign col8_count = col8_count | plus: 50 -%}
{%	elsif year_month == col9 -%}
{%		assign col9_count = col9_count | plus: 50 -%}
{%	elsif year_month == col10 -%}
{%		assign col10_count = col10_count | plus: 50 -%}
{%	elsif year_month == col11 -%}
{%		assign col11_count = col11_count | plus: 50 -%}
{%	elsif year_month == col12 -%}
{%		assign col12_count = col12_count | plus: 50 -%}
{%	endif -%}
{%- endfor -%}
<h2>Book Reading Statistics</h2>
<p>I began keeping notes of the books I had read in late January 2022. 
The annual total
figures are subject to change if I find and enter more of my notes
from previous years. Abandoned books tend to end up in the short
review sections so are not included here. I'm now pretty conscientious
about entering reviews into the website so recent figures are more reliable.</p>

<p>I written full reviews of <strong>{{ last_year_count }}</strong> books in {{ last_year }} and I
 have reviewed <strong>{{ year_count }}</strong> so far in {{ current_year }}.</p>

<svg
   width="800"
   height="675"
   viewBox="0 0 1200 900"
   version="1.1"
   id="svg5"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <defs
     id="defs2" />
  <g
     id="layer1">
    <path
       style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
       d="M 100,100 V 800 H 1100"
       id="path1" />
    <path
       style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
       d="M 100,751.5 H 75.079"
       id="path2" />
    <path
       style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
       d="M 100,701.5 H 75.079"
       id="path3" />
    <path
       style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
       d="M 100,651.5 H 75.079"
       id="path4" />
    <path
       style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
       d="M 100,601.5 H 75.079"
       id="path5" />
    <path
       style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
       d="M 100,551.5 H 75.079"
       id="path6" />
    <path
       style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
       d="M 100,501.5 H 75.079"
       id="path7" />
    <path
       style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
       d="M 100,451.5 H 75.079"
       id="path8" />
    <path
       style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
       d="M 100,401.5 H 75.079"
       id="path9" />
    <path
       style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
       d="M 100,351.5 H 75.079"
       id="path10" />
    <path
       style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
       d="M 100,301.5 H 75.079"
       id="path11" />
    <path
       style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
       d="M 100,251.5 H 75.079"
       id="path12" />
    <path
       style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
       d="M 100,201.5 H 75.079"
       id="path13" />
    <path
       style="fill:none;stroke:#000000;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
       d="M 100,151.5 H 75.079"
       id="path14" />
    <text
       xml:space="preserve"
       style="font-size:40px;line-height:1.25;font-family:sans-serif;text-align:center;text-anchor:middle"
       x="593.097"
       y="64.5202"
       id="text14"><tspan
         id="tspan14"
         x="593.097"
         y="64.5202">Books Read Per Month</tspan></text>
    <path
       id="rect14"
       style="fill:#558822;fill-rule:evenodd;stroke:#808080;stroke-width:3"
       d="m 120,800 h 60 v -{{ col12_count }} h -60 z" />
    <path
       id="path15"
       style="fill:#558822;fill-rule:evenodd;stroke:#808080;stroke-width:3"
       d="m 200,800 h 60 v -{{ col11_count }} h -60 z" />
    <path
       id="path16"
       style="fill:#558822;fill-rule:evenodd;stroke:#808080;stroke-width:3"
       d="m 280,800 h 60 v -{{ col10_count }} h -60 z" />
    <path
       id="path17"
       style="fill:#558822;fill-rule:evenodd;stroke:#808080;stroke-width:3"
       d="m 360,800 h 60 v -{{ col9_count }} h -60 z" />
    <path
       id="path18"
       style="fill:#558822;fill-rule:evenodd;stroke:#808080;stroke-width:3"
       d="m 440,800 h 60 v -{{ col8_count }} h -60 z" />
    <path
       id="path19"
       style="fill:#558822;fill-rule:evenodd;stroke:#808080;stroke-width:3"
       d="m 520,800 h 60 v -{{ col7_count }} h -60 z" />
    <path
       id="path20"
       style="fill:#558822;fill-rule:evenodd;stroke:#808080;stroke-width:3"
       d="m 600,800 h 60 v -{{ col6_count }} h -60 z" />
    <path
       id="path21"
       style="fill:#558822;fill-rule:evenodd;stroke:#808080;stroke-width:3"
       d="m 680,800 h 60 v -{{ col5_count }} h -60 z" />
    <path
       id="path22"
       style="fill:#558822;fill-rule:evenodd;stroke:#808080;stroke-width:3"
       d="m 760,800 h 60 v -{{ col4_count }} h -60 z" />
    <path
       id="path23"
       style="fill:#558822;fill-rule:evenodd;stroke:#808080;stroke-width:3"
       d="m 840,800 h 60 v -{{ col3_count }} h -60 z" />
    <path
       id="path25"
       style="fill:#558822;fill-rule:evenodd;stroke:#808080;stroke-width:3"
       d="m 920,800 h 60 v -{{ col2_count }} h -60 z" />
    <path
       id="path26"
       style="fill:#558822;fill-rule:evenodd;stroke:#808080;stroke-width:3"
       d="m 1000,800 h 60 v -{{ col1_count }} h -60 z" />
    <text
       xml:space="preserve"
       style="font-size:40px;line-height:1.25;font-family:sans-serif"
       x="34.0039"
       y="564.116"
       id="text26"><tspan
         id="tspan26"
         x="34.0039"
         y="564.116">5</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:40px;line-height:1.25;font-family:sans-serif"
       x="14.8222"
       y="315.626"
       id="text27"><tspan
         id="tspan27"
         x="14.8222"
         y="315.626">10</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:26.6667px;line-height:1.25;font-family:sans-serif;text-align:center;text-anchor:middle"
       x="151.264"
       y="824.813"
       id="text28"><tspan
         id="tspan28"
         x="151.264"
         y="824.813">{{ col12 }}</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:26.6667px;line-height:1.25;font-family:sans-serif;text-align:center;text-anchor:middle"
       x="231.264"
       y="824.813"
       id="text29"><tspan
         id="tspan29"
         x="231.264"
         y="824.813">{{ col11 }}</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:26.6667px;line-height:1.25;font-family:sans-serif;text-align:center;text-anchor:middle"
       x="311.264"
       y="824.813"
       id="text30"><tspan
         id="tspan30"
         x="311.264"
         y="824.813">{{ col10 }}</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:26.6667px;line-height:1.25;font-family:sans-serif;text-align:center;text-anchor:middle"
       x="391.264"
       y="824.813"
       id="text31"><tspan
         id="tspan31"
         x="391.264"
         y="824.813">{{ col9 }}</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:26.6667px;line-height:1.25;font-family:sans-serif;text-align:center;text-anchor:middle"
       x="471.264"
       y="824.813"
       id="text32"><tspan
         id="tspan32"
         x="471.264"
         y="824.813">{{ col8 }}</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:26.6667px;line-height:1.25;font-family:sans-serif;text-align:center;text-anchor:middle"
       x="551.264"
       y="824.813"
       id="text33"><tspan
         id="tspan33"
         x="551.264"
         y="824.813">{{ col7 }}</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:26.6667px;line-height:1.25;font-family:sans-serif;text-align:center;text-anchor:middle"
       x="631.264"
       y="824.813"
       id="text34"><tspan
         id="tspan34"
         x="631.264"
         y="824.813">{{ col6 }}</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:26.6667px;line-height:1.25;font-family:sans-serif;text-align:center;text-anchor:middle"
       x="711.264"
       y="824.813"
       id="text35"><tspan
         id="tspan35"
         x="711.264"
         y="824.813">{{ col5 }}</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:26.6667px;line-height:1.25;font-family:sans-serif;text-align:center;text-anchor:middle"
       x="791.264"
       y="824.813"
       id="text36"><tspan
         id="tspan36"
         x="791.264"
         y="824.813">{{ col4 }}</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:26.6667px;line-height:1.25;font-family:sans-serif;text-align:center;text-anchor:middle"
       x="871.264"
       y="824.813"
       id="text37"><tspan
         id="tspan37"
         x="871.264"
         y="824.813">{{ col3 }}</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:26.6667px;line-height:1.25;font-family:sans-serif;text-align:center;text-anchor:middle"
       x="951.264"
       y="824.813"
       id="text38"><tspan
         id="tspan38"
         x="951.264"
         y="824.813">{{ col2 }}</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:26.6667px;line-height:1.25;font-family:sans-serif;text-align:center;text-anchor:middle"
       x="1031.26"
       y="824.813"
       id="text39"><tspan
         id="tspan39"
         x="1031.26"
         y="824.813">{{ col1 }}</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:26.6667px;line-height:1.25;font-family:sans-serif;text-align:center;text-anchor:middle"
       x="585.913"
       y="110.731"
       id="text40"><tspan
         id="tspan40"
         x="585.913"
         y="110.731">(Previous 12 Months)</tspan></text>
  </g>
</svg>

<div class="d-flex justify-content-center">
      <h3>Annual Total Full Book Reviews</h3>
      <table class="table table-bordered table-responsive">
         <tr>
            <th>2022</th>
            <th>2023</th>
            <th>2024</th>
            <th>2025</th>
            <th>2026</th>
         </tr>
         <tr>
            <td>{{ count_2022 }}</td>
            <td>{{ count_2023 }}</td>
            <td>{{ count_2024 }}</td>
            <td>{{ count_2025 }}</td>
            <td>{{ count_2026 }}</td>
         </tr>
      </table>
      <p>(2023 looks a bit low as I have backlog of notes that didn't get written up)</p>
</div>
