<aside>
	<div class="panel radius">
		<h3>Recent Articles</h3>
		{% include list-posts entries='5' offset='1' %}
	</div>

  <img class="b30" src="/img/decor/Authority-Figure-1-212x300.png" alt="Karl looking stern">


	<div class="border-dotted radius b30">
		<p>If you enjoyed this site please click on the coffee cup icon below!</p>
		<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="drawshield" data-description="Support me on Buy me a coffee!" data-message="If you enjoyed this site please feel free to buy me a coffee!" data-color="#40DCA5" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
	</div>
</aside>