
{% comment %}
*
* Print out some site stats
*
{% endcomment %}

<h2>Site Statistics</h2>
<div class="row t10" >
  <div class="columns medium-3">
    <div class="alert-box info">
      <p>This site contains</p>
      <div class="alert-box success">
        <p>{{ site.pages | size }}</p>
      </div>
      <p>total pages</p>
    </div>
  </div>
  <div class="columns medium-3">
    <div class="alert-box info">
      <p>Including</p>
      <a href="/blog/">
        <div class="alert-box success">
          <p>{{ site.categories.blog | size }}</p>
        </div>
      </a>
      <p>Blog Posts</p>
    </div>
  </div>
  <div class="columns medium-3">
    <div class="alert-box info">
      <p>and</p>
      <a href="/reviews/">
        <div class="alert-box success">
          <p>{{ site.categories.reviews | size }}</p>
        </div>
      </a>
      <p>Full Reviews</p>
    </div>
  </div>
  <div class="columns medium-3">
    <div class="alert-box info">
      <p>and</p>
      <a href="/reviews/shorts">
        <div class="alert-box success">
          {% assign short_count = 0 %}
          {% for file_list in site.data.shorts %}
          {% for short in file_list[1] %}
          {% unless short.type == "draft" %}
          {% assign short_count = short_count | plus: 1 %}
          {% endunless %}
          {% endfor %}
          {% endfor %}
          <p>{{ short_count }}</p>
        </div>
      </a>
      <p>Short Reviews</p>
    </div>
  </div>
</div>
<div class="t10">
  <p>The site was last updated on {{ site.time | date: "%a, %b %d, %Y" }}</p>
</div>