.review-tag-cloud {
  display: inline-block;
  max-width: 630px;
  li {
    display: inline-block;
    padding: 0 1rem;
    vertical-align: middle;
  }
}

.tag-alpha {
  font-size: 1em
}
.tag-beta {
  font-size: 1.2em
}
.tag-gamma {
  font-size: 1.8em
}
.tag-delta {
  font-size: 2.5em
}
.tag-epsilon {
  font-size: 3.5em
}
.tag-zeta {
  font-size: 4.5em
}