---
layout: default
format: blog-index
---
{%- assign site.gp_header_count = site.gp_header_count | plus: 1 -%}
{%- if site.gp_header_count > site.gp_header_max -%}
{%- assign site.gp_header_count = 1 -%}
{%- endif -%}

<div class="row">
	<div class="medium-8 columns t30">
		<h1>{{ page.title }}</h1>
		{{ content }}
		<p>
			{%- include next-previous-post-in-category -%}
		</p>
		{%- if page.show_meta == true -%}
		{%- include _meta_information.html -%}
		{%- endif -%}
	</div><!-- /.medium-7.columns -->


	<div class="medium-4 columns t30">
		{%- include _recent_posts_sidebar.html -%}
      <li class="text-right"><a href="{{ site.url }}{{ site.baseurl }}/blog/"><strong>{{ site.data.text.more }}</strong></a></li>
	</div><!-- /.medium-5.columns -->
</div><!-- /.row -->
<div class="medium-6 columns medium-offset-2 end">
	{%- if page.comments == true -%}
	{%- include _comments.html -%}
	{%- endif -%}
</div>