---
layout: default
format: frontpage
---
<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->


{%- comment -%}
*
* First check, if widget is empty or not by checking if there is a title
*
{%- endcomment -%}
<div class="row t60">
	{%- if page.widget1.image or page.widget1.video or page.widget1.title -%}
		{%- include _frontpage-widget.html widget=page.widget1 -%}
	{%- endif -%}

	{%- if page.widget2.image or page.widget2.video or page.widget2.title -%}
		{%- include _frontpage-widget.html widget=page.widget2 -%}
	{%- endif -%}

	{%- if page.widget3.image or page.widget3.video or page.widget3.title -%}
		{%- include _frontpage-widget.html widget=page.widget3 -%}
	{%- endif -%}
</div><!-- /.row -->

{%- comment -%}

*
* First check, if there is a call for action-button
*
{%- endcomment -%}
{%- if page.callforaction.url contains 'http' -%}
{%- assign url = '' -%}
{%- else -%}
{%- capture url -%}{{ site.url }}{{ site.baseurl }}{%- endcapture -%}
{%- endif -%}


<div class="row t0">
{%- include _site_stats.html -%}
</div><!-- /.row -->

<div class="row t30 b30">
    <div class="small-4 text-center columns">
    {%- include whats_new -%}
    </div><!-- /.small-12.columns -->
    <div class="small-4 text-center columns">
    {%- include contact_me -%}
    </div><!-- /.small-12.columns -->
    <div class="small-4 text-center columns">
    {%- include surprise_me -%}
    </div><!-- /.small-12.columns -->
</div><!-- /.row -->

{%- comment -%}
*
* First check, if there are any posts at all
*
{%- endcomment -%}

{%- unless site.posts == empty -%}
    <div class="row t10 b20 homepage">
        <div class="small-12 columns">
            <h2>{{ site.data.text.new_blog_entries }}</h2>
        </div><!-- /.small-12.columns -->
    </div><!-- /.row -->


    <div class="row">
            {%- for post in site.posts limit:1 -%}
        <div class="medium-3 columns">
            {%- if post.subtitle -%}<p class="subtitle">{{ post.subtitle }}</p>{%- endif -%}
            <h2><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.prefix}} {{ post.title }}</a></h2>
            <p>
                {%- if post.meta_description -%}{{ post.meta_description | strip_html | escape }}{%- else post.teaser -%}{{ post.teaser | strip_html | escape }}{%- endif -%}
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="Read {{ post.title | escape_once }}"><strong>{{ site.data.text.read_more }}</strong></a>
            </p>
        </div><!-- /.medium-5.columns -->
        <div class="medium-3 columns">
            {%- if post.category == "blog" -%}
            {%- capture src_url -%}{{ site.urlimg }}blog/generic-thumb.jpg{%- endcapture -%}
            {%- capture thumb_path -%}{{ site.urlimg }}blog/{{ post.thumb }}{%- endcapture -%}
        {%- else -%}
            {%- capture src_url -%}{{ site.urlimg }}reviews/generic-thumb.jpg{%- endcapture -%}
            {%- capture thumb_path -%}{{ site.urlimg }}reviews/{{ post.categories[1] }}/thumbs/{{ post.slug }}.jpg{%- endcapture -%}
        {%- endif -%}
              {%- for img_file in site.static_files -%}
              {%- if img_file.path == thumb_path -%}
              {%- assign src_url = thumb_path -%}
              {%- continue -%}
              {%- endif -%}
              {%- endfor -%}
            <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="{{ post.title | escape_once }}"><img src="{{ src_url }}" class="alignleft" width="200" height="200" alt="{{ post.title | escape_once }}"></a>
        </div>
            {%- endfor -%}


        <div class="medium-6 columns">
            <p><strong>{{ site.data.text.more_articles }}</strong></p>
            {%- include list-posts entries='3' offset='1' -%}
        </div><!-- /.medium-7.columns -->
    </div><!-- /.row -->
{%- endunless -%}

<div class="row t0">
{%- include _reading-stats.html -%}
</div><!-- /.row -->

{%- comment -%}
*
* Finally, if there is content, spit it out.
*
{%- endcomment -%}

<div class="row">
    {{ content }}
</div><!-- /.row -->
