---
layout: default
---
<div class="row">
	<div class="medium-8 columns t30">
		<h1>{{ page.title }}</h1>
		{{ content }}
	</div><!-- /.medium-7.columns -->


	<div class="medium-4 columns t30">
		<ul>
			<li><a href="/new-pemberley/overview/">Overview</a> </li>
			<li><a href="/new-pemberley/general-arrangement">General Arrangement</a> </li>
			<li><a href="/new-pemberley/main-building/overview/">Main Building</a> </li>
			<li>
				<ul>
					<li><a href="/new-pemberley/main-building/basement">Basement</a> </li>
					<li><a href="/new-pemberley/main-building/ground-floor">Ground Floor</a> </li>
					<li><a href="/new-pemberley/main-building/first-floor">First Floor</a> </li>
					<li><a href="/new-pemberley/main-building/attic-space">Attic Space and Roof</a> </li>
				</ul>
			</li>
			<li><a href="/new-pemberley/overview/">Overview</a> </li>
		</ul>
	</div><!-- /.medium-5.columns -->
</div><!-- /.row -->