---
layout: default
format: post
---
{%- assign site.gp_header_count = site.gp_header_count | plus: 1 -%}
{%- if site.gp_header_count > site.gp_header_max -%}
{%- assign site.gp_header_count = 1 -%}
{%- endif -%}

{%- if page.sidebar.header -%}
{%- assign page.header.image_fullwidth = page.sidebar.header -%}
{%- endif -%}

{%- assign permalink = page.dir | remove_first: "/pages" -%}
<div class="row t30">
	<div class="medium-8 columns">
		<article itemscope itemtype="http://schema.org/Article">
			<header>
				{%- if page.image.title -%}
				<figure>
					<img src="{{ site.urlimg }}{{ page.image.title }}" width="970" alt="{{ page.title | escape_once }}" itemprop="image">

					{%- if page.image.caption_url and page.image.caption -%}
					<figcaption class="text-right">
						<a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
					</figcaption>
					{%- elsif page.image.caption -%}
					<figcaption class="text-right">
						{{ page.image.caption }}
					</figcaption>
					{%- endif -%}
				</figure>
				{%- endif -%}

			{%- include _breadcrumb.html -%}

				<div itemprop="name">
					<h1>{{ page.prefix}} {{ page.title }}</h1>
					{%- if page.subtitle -%}
						<p class="subtitle">{{ page.subtitle }}</p>
					{%- endif -%}
					{%- if page.teaser -%}
					<p class="teaser">{{ page.teaser }}</p>
					{%- endif -%}
					{%- if page.author != "" and page.author != Nil and page.author != "karlw" -%} 
						<!-- Things for a book review -->
						<p class="subtitle"><a href="/reviews/books/author/{{ page.author }}/">{{ site.data.authors[page.author].forename }} {{ site.data.authors[page.author].surname }}</a></p>
						{%- if page.author2 != "" and page.author2 != Nil -%}
						{{ site.data.text.conjunction }} <a href="/reviews/books/author/{{ page.author2 }}/">{{ site.data.authors[page.author2].forename }} {{ site.data.authors[page.author2].surname }}</a>
						{%- endif -%}
						{%- if page.series != "" and page.series != Nil -%}
							<p>{{ site.data.text.series_start }} {{ page.series}} {{ site.data.text.series_end }}
								{%- if page.booknum -%}
								, {{ site.data.text.booknum }} {{ page.booknum }}
								{%- endif -%}
								.</p>
						{%- endif -%}
						<!-- Things for a TV Show -->
						 {%- if page.season != "" and page.season != Nil -%}
						 <p class="subtitle">{{ site.data.text.season }}{{ page.season }}</p>
						 {%- endif -%}
						<!-- Things for a TV Show or movie -->
						 {%- if page.network != "" and page.network != Nil -%}
						 <p>{{ site.data.text.network }}{{ page.network }}</p>
						 {%- endif -%}
						 <!-- Things for games -->
						 {%- if page.platform != "" and page.platform != Nil -%}
						 <p>{{ site.data.text.platform }}{{ page.platform }}</p>
						 {%- endif -%}
					{%- else -%}
					    <!-- Just an ordinary page -->
					{%- endif -%}
				</div>
			</header>

			<div itemprop="articleSection">
			{{ content }}
			</div>

			{%- if page.show_meta == true -%}
			{%- include _meta_information.html -%}
			{%- endif -%}

		</article>
	</div><!-- /.medium-8.columns -->
	<div class="medium-4 columns t30">
		{%- include _page_sidebar.html barname=page.sidebar -%}
	</div>
</div><!-- /.row -->
<div class="row t30">
	{%- include _breadcrumb.html -%}
	<div class="medium-8 columns medium-offset-1 end">
	{%- if page.comments == true -%}
	{%- include _comments.html -%}
	{%- endif -%}
	</div>
</div>
