---
layout: page
paginate:
  category: reviews
---
		{%- capture use_img -%}/reviews/img/generic.jpg{%- endcapture -%}
		{%- if page.picture -%}
		{%- capture img_path -%}/reviews/img/{{ page.categories[1] }}/{{ page.picture }}.jpg{%- endcapture -%}
		{%- else -%}
		{%- capture img_path -%}/reviews/img/{{ page.categories[1] }}/{{ page.slug }}.jpg{%- endcapture -%}
		{%- endif -%}
		{%- for img_file in site.static_files -%}
		{%- if img_file.path == img_path -%}
		{%- assign use_img = img_path -%}
		{%- continue -%}
		{%- endif -%}
		{%- endfor -%}
		<figure>
			<img src="{{ use_img }}" alt="Illustration"/>
			<figcaption>{{ page.slug }} {{ page.credit }}</figcaption>
		</figure>
        {% include _tags_to_buttons.html tags=page.tags separator="&MediumSpace;" pclass="b15" %}
		{%- if page.tags contains "retro" -%}
		{% include retro-disclaimer %}
		{%- endif -%}
		<div id="search-content">
			{{ content }}
		</div>
		<p>
			{%- include next-previous-post-in-category -%}
		</p>
