---
layout: default
---

<div class="row">
    <div class="medium-8 columns t30">
        <h1 class="text-start">{{ site.data.text.tag_posts }} {{ page.tag }}</h1>
        <ul>
            {%- for post in page.posts -%}
            <li>
                <a href="{{ post.url }}">{{ post.title }}</a> ({{ post.categories.last }})
            </li>
            {%- endfor -%}
        </ul>
    </div><!-- /.medium-7.columns -->


    <div class="medium-4 columns t30">
        <a class="button radius" href="/tag-cloud/">{{ site.data.text.tag_cloud }}</a>
    </div><!-- /.medium-5.columns -->
</div><!-- /.row -->
